#cal-week-box {display:none;}

.widget .widget-header i {margin: 0;}

.past-event { opacity: .5; }

.modal-body .panel:last-child {
	margin-bottom: 0px;
}

.widget-content .table:last-child {
	margin-bottom: 0px;
}

.form-group label.required-field:after { content:" *"; color:red; }
.form-group.nomargin {margin-bottom: 0px;}
.profile-form .formden_header h2, .profile-form .formden_header p, .profile-form form{
font-family: Arial, Helvetica, sans-serif; color: black
}
.profile-form form button, 
.profile-form form button:hover{
color: white !important;
} 
.asteriskField {
color: red;
}
.profile-form .radio-inline{
margin-bottom: 14px;
}
.profile-form ul.nav {
	margin: 15px;
}
.profile-form ul.nav li {
	cursor:pointer;
}

.pagination-footer ul.pagination {
	margin: 0px;
}

.pagination-footer {
	text-align: center;
}

.registration {
	font-weight:bold;
}

.registration.cancelled {
	color:grey;
}

.registration.past {
	font-weight:normal;
}

.tooltip-inner .badge{
	display:none;
}
.clickable {
	cursor: pointer;
}

ht.clickable:hover {
	background-color: darkgrey;
}

.tag-list .tag.label {
    margin-right: 5px;
    margin-bottom: 5px;
    padding: 4px 7px;
}
.tag-list .tag.label i{
    margin-right: 5px;
}

.no-match {
	display: none !important;
}

.calendar-list-view-content {
	color: #fff;
	background-color: #555;
	box-shadow: inset 0 0 15px 0 rgba(0,0,0,.5);
}

.calendar-list-view-content li {
	margin-bottom: 5px;
	margin-left: 5px;
	vertical-align: text-top;
}

.day-event .badge {
    position: absolute;
    bottom: 5px;
    right: 5px;
    margin: 0px;
}

.cal-event-list li .badge,
.calendar-list-view-content li .badge{
	width: 25px;
    position: absolute;
    left: 15px;
    text-align: center;
    padding: 3px 0px;
}

.cal-event-list li .event,
.calendar-list-view-content li .event{
	display: none;
}

.calendar-list-view-header{
    border-bottom: 1px solid #e1e1e1;
    margin-left: 0;
    margin-right: 0;	
    padding: 10px 15px;
    font-size: large;
    background-color: #fafafa;
    width: 100%;
    cursor:pointer;
    color:#767676;
}

.calendar-list-view-header:hover{
	background-color: #ededed;
}

.calendar-list-view-header .badge{
	background-color: #4BA1A0;
	float: left;
    margin-right: 7px;
    margin-top: 3px;
}

.empty-message:not(:last-child){
	display:none;
}

.calendar-list-view-content ul.unstyled {
	margin-bottom: 0;
}

.calendar-list-view-content .event.pull-left {
	margin-top: 3px;
}

.calendar-list-view-content a.event-item {
    color: #fff;
    font-weight: 400;
}

.calendar-list-view-content .event-item span:last-child{
	padding-left: 30px;
}
mwl-calendar .cal-slide-content.cal-event-list .event-item{
	margin-left: 30px;
}

.calendar-list-view-content,
mwl-calendar .cal-slide-content.cal-event-list
{
	padding: 15px 15px 10px;
}
mwl-calendar .cal-slide-content.cal-event-list li{
	margin-bottom: 5px;
}

mwl-calendar .cal-month-day .cal-events-num{
    margin-top: 0;
    margin-left: 0;
    position: absolute;
    top: 10px;
    left: 10px;
    background-color:#4BA1A0;
}

mwl-calendar span[data-cal-date] {
	margin-right: 10px;
	margin-top: 7px;
}

mwl-calendar .cal-month-box .cal-day-today span[data-cal-date] {
	font-size: 1.2em; 
}

mwl-calendar .events-list {
	max-height: 70px;
}

.filter-buttons button span {
	max-width: 126px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	display:inline-block;
	vertical-align: middle;
}

.widget .widget-header {
    padding: 10px 0px 0px;
}

.filter-buttons button:first-child:last-child span {
	display:inline-block !important;
}

.filter-buttons button:first-child:nth-last-child(3) span,
.filter-buttons button:first-child:nth-last-child(3) ~ button span {
    display: none;
}
@media (max-width: 767px){
	mwl-calendar .cal-month-day .cal-events-num {
	    margin-top: 0;
	    margin-left: 0;
	    position: absolute;
	    top: 50px;
	    left: 10px;
	    font-size: large;
	}
	mwl-calendar .events-list {
		display: none;
	}
}
